<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Create New Apartment</title>
</head>

<body>
  <div class="container">
    <h1 class="mt-5">Create New Apartment</h1>
    <form action="/apartment/<%=loggedInUser %>/new" method="POST" class="mt-5">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter the name of the apartment" required>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" class="form-control" id="price" name="price" placeholder="Enter the price of the apartment" required>
      </div>
      <div class="form-group">
        <label for="capacity">Maximum Capacity:</label>
        <input type="number" class="form-control" id="capacity" name="maximumCapacity" placeholder="Enter the maximum capacity of the apartment" required>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>