<!DOCTYPE html>
<html>

<head>
  <title>Forgot Password</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="mt-5">Forgot Password</h2>
        <form method="post" action="/passwordreset">
          <div class="form-group">
            <label for="email">Please enter your email adress in order to got a password reset link </label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email" required>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
      </div>
    </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>