<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
          <img src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg?w=2000" jsaction="VQAsE" class="r48jcc pT0Scc iPVvYb" style="max-width: 2000px; width: 244px; height: 244px; margin: 0px;" alt="404 Vectors &amp; Illustrations for Free Download | Freepik" jsname="kn3ccd" aria-hidden="false">
        <h1 class="display-4 mt-3">Error 404</h1>
        <p class="lead">Something went wrong</p>
        <p><strong>Status:</strong> error.status </p>
        <p><strong>Message:</strong>error.message </p>
        <a href="/" class="btn btn-primary">Go to the home page</a>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>