<%-include('header')%>

  <div class="container mt-4">
    <div class="row">
      <!-- Left Section - List of Pictures -->
      <div class="col-md-4">
        <h4>List of Pictures</h4>
        <ul id="picture-list" class="list-group">
          <!-- Pictures will be dynamically added here -->
        </ul>
        <button id="add-picture-btn" class="btn btn-primary mt-2">Add Picture</button>
      </div>

      <!-- Right Section - Bookings -->
      <div class="col-md-8">
        <h4>Bookings</h4>
        <table id="booking-table" class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Date (From - To)</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- Bookings will be dynamically added here -->
            <tr>
              <td>1</td>
              <td>2023-07-01 to 2023-07-07</td>
              <td><button class="btn btn-danger btn-sm delete-booking-btn">Delete</button></td>
            </tr>
          </tbody>
        </table>

        <h4>Edit Apartment Information</h4>
        <form id="apartment-form">
          <div class="form-group">
            <label for="apartment-name">Apartment Name</label>
            <input type="text" id="apartment-name" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="apartment-location">Location</label>
            <input type="text" id="apartment-location" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <h4>Comments</h4>
        <ul id="comment-list" class="list-group">

          <!-- Comments will be dynamically added here -->
          <li class="list-group-item">
            Comment 1
            <button class="btn btn-danger btn-sm delete-comment-btn float-right">Delete</button>
          </li>
         
        </ul>
      </div>
    </div>
  </div>

  <%- include('footer') %>